<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Souq</title>
</head>
<body>
<h1 style="color: darkblue">E-Souq</h1>

<p> Welcome to E-Souq, your safe space to shop for any electronic products. E-Souq is a web application that is
a safe space for both sellers and buyers. Sellers can add, remove, and update products. Buyers can
    add products to shopping carts, checkout, and review products.
</p>
</body>
</html>-->
