<!DOCTYPE html>
<html><body>
<h1>Add E-Souq Customer</h1>
<form method="POST" action="/customers/add">
    ID: <input name="id" type="number" required><br><br>
    First Name: <input name="firstName" required><br><br>
    Last Name: <input name="lastName" required><br><br>
    Email: <input name="email" type="email" required><br><br>
    <button>Add Customer</button>
</form>
<p><a href="/customers">Customers</a> | <a href="/">Home</a></p>
</body>
</html>